
<!DOCTYPE html>
<html>
<body>

<h2>My Form</h2>

<form action="/addUser" method="POST">
  Name:<br>
  <input type="text" name="Name">
  <br>
  Email<br>
  <input type="email" name="Email">
  <br>
   Age<br>
  <input type="number" name="Age">
  <br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
